body {
    margin: 0;
   background-color: black;
    color: white;
  
}
#main-container{
    max-width: 450px;
    margin: 50px auto 50px auto;
    padding: 55px;
    background-color: #1e2429;
    border-radius: 6px;
}
p{
    color: lightgray;
    display: flex;
    flex-wrap: wrap;
    
}
.green-text, span.green-text{
    display: block;
    color: #10B981;
}
.container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    border-top:  #8b918f;  
    border-style: solid;
    border-width: 1px 0px 0px 0px;
    width: 100;
}
.pass-container{
    display: flex;
    flex-wrap: wrap;
    background-color: #2a3136;
    width: 210px;
    height: 40px;
    margin-top: 20px;
    text-align: center; 
}
.pass-container, button{
     border-radius: 5px;
}
.pass-container:hover{
    background-color: #374046; 
}
.pass-container {
    overflow: hidden;
    text-overflow: ellipsis;
}
button{
    background-color: #10B981;
    color: white;
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    border: none;
}
button:hover{
    background-color: #13d192;
}
p#first-pass, p#second-pass{
    white-space: nowrap; 
    margin: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
}
 
input#length{
    background-color: #2a3136;
    color: #13d192;
    border-bottom:  #8b918f;  
    border-style: solid;
    border-top-right-radius: 2px;
    border-top-left-radius: 2px;
    border-width: 0px 0px 1px 0px;
}

input[type=checkbox] {
    accent-color: #10B981;
}
input[type=number] {
    accent-color: #10B981;   
}